admin_token.txt
host_token.txt
__pycache__/
*.txt
dist/
colink.egg-info/
build/
colink_*pb2.py
colink_*pb2_grpc.py
*.log
/target
/.idea
/.vscode
/example-tls/**/*.pem
/example-tls/**/*.csr
/example-tls/**/*.p12
/example-tls/**/*.srl
!/example-tls/test-cert/*
/colink-*/
*.pyc
install_colink.sh
